@model PcrTestListViewModel

<h2>Analyzed sample count : @Model.AnalyzedSamplesCount</h2>

<a asp-action="Edit" asp-route-id="-1" class="btn btn-primary">Créer un nouveau test</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">N° d'échantillon</th>
        <th scope="col">Date de création</th>
        <th scope="col">Date de prélèvement</th>
        <th scope="col">Date de réception</th>
        <th scope="col">Date d'analyse</th>
        <th scope="col">Exécuté par</th>
        <th scope="col">Résultat</th>
        <th scope="col">Modifier</th>
        <th scope="col">Supprimer</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.SampleNumber</td>
            <td>@item.CreationDate.ToString("dd-MM-yyyy HH:mm")</td>
            <td>@item.SamplingDate.ToString("dd-MM-yyyy HH:mm")</td>
            <td>@item.ReceptionDate?.ToString("dd-MM-yyyy")</td>
            <td>@item.AnalysisDate?.ToString("dd-MM-yyyy")</td>
            <td>@item.Performer</td>
            <td>@(item.AnalysisResult?.ToString() ?? "")</td>
            @* asp-route-id = asp-route-<name of parameter in "kebab-case"> *@
            @* if parameter's name is 'myRandomId', should be asp-route-my-random-id *@
            <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-secondary">Modifier</a></td>
            <td><a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a></td>
        </tr>
    }
    </tbody>
</table>